In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('komoditas-2020.csv')

In [3]:
data

,Tanggal,Beras Premium,Beras Medium,Minyak Goreng Curah,Gula Pasir,Terigu Segitiga Biru,Bawang Merah,Bawang Putih,Cabe Rawit Merah,Cabe Merah Keriting,Cabe Besar,Daging Sapi,Daging Ayam Ras,Telur Ayam Ras,Ikan,Kedelai Biji Kering,Jagung Manis,Jagung Pipilan Kering
0,2 Januari,"12,000","10,500","10,000","13,000","8,500","35,000","26,000","40,000","35,000",NaN,"111,500","32,000","26,000","28,000","9,500","7,000","7,500"
1,6 Januari,"10,500","9,500","9,500","11,500","7,500","30,000","26,000","40,000","40,000","40,000","103,000","30,500","25,000","30,000","9,000","7,000","7,000"
2,9 Januari,"11,000","10,000","9,500","12,000","7,500","27,000","26,000","60,000","45,000","50,000","103,000","32,000","26,000","30,000","9,000","8,000","7,000"
3,13 Januari,"10,500","9,500","9,500","12,000","7,500","17,500","25,000","60,000","50,000","60,000","103,000","30,000","22,000","30,000","9,000","8,000","7,000"
4,16 Januari,"11,500","10,500","10,500","13,000","8,000","19,500","27,000","70,000","50,000","60,000","112,000","31,000","24,500","33,000","10,000","8,000","6,500"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,18 Desember,"11,500","10,500","14,000","13,500","8,000","20,000","20,000","43,000","40,000","52,000","110,000","34,000","28,000","28,000","10,500","8,000","9,000"
100,22 Desember,"11,500","10,500","13,500","13,000","8,000","15,000","20,000","50,000","45,000","55,000","110,000","34,000","28,000","30,000","9,000","8,000","9,000"
101,24 Desember,"11,500","10,500","13,500","13,000","8,000","15,000","20,000","50,000","45,000","55,000","110,000","34,000","25,000","30,000","9,000","8,000","9,000"
102,28 Desember,"11,500","10,500","13,500","13,000","8,000","15,000","20,000","65,000","50,000","45,000","110,000","32,000","25,000","30,000","9,000","8,000","9,000"
103,31 Desember,"11,500","10,500","13,500","13,000","8,000","15,000","21,000","60,000","45,000","35,000","110,000","34,000","25,000","30,000","9,000","8,000","9,000"

In [ ]:
data.isnull().sum()

In [ ]:
plt.figure(figsize=(8,6))
sns.scatterplot(x=data['Tanggal'], y= data['Terigu Segitiga Biru'])
plt.xlabel('Experience')
plt.ylabel('Salary')
plt.show()

In [ ]:
data.dtypes

In [4]:
data = pd.DataFrame(data)

# Remove spaces from column names
data = data.rename(columns=lambda x: x.replace(' ', ''))

# Print the modified DataFrame with updated column names
print(data)

         Tanggal BerasPremium BerasMedium MinyakGorengCurah GulaPasir  \
0      2 Januari      12,000      10,500            10,000    13,000
1      6 Januari      10,500       9,500             9,500    11,500
2      9 Januari      11,000      10,000             9,500    12,000
3     13 Januari      10,500       9,500             9,500    12,000
4     16 Januari      11,500      10,500            10,500    13,000
..           ...          ...         ...               ...       ...
99   18 Desember      11,500      10,500            14,000    13,500
100  22 Desember      11,500      10,500            13,500    13,000
101  24 Desember      11,500      10,500            13,500    13,000
102  28 Desember      11,500      10,500            13,500    13,000
103  31 Desember      11,500      10,500            13,500    13,000

    TeriguSegitigaBiru BawangMerah BawangPutih CabeRawitMerah  \
0               8,500      35,000      26,000         40,000
1               7,500      30,000      26,000         40,000
2               7,500      27,000      26,000         60,000
3               7,500      17,500      25,000         60,000
4               8,000      19,500      27,000         70,000
..                 ...         ...         ...            ...
99              8,000      20,000      20,000         43,000
100             8,000      15,000      20,000         50,000
101             8,000      15,000      20,000         50,000
102             8,000      15,000      20,000         65,000
103             8,000      15,000      21,000         60,000

    CabeMerahKeriting CabeBesar DagingSapi DagingAyamRas TelurAyamRas  \
0             35,000        NaN   111,500        32,000       26,000
1             40,000    40,000    103,000        30,500       25,000
2             45,000    50,000    103,000        32,000       26,000
3             50,000    60,000    103,000        30,000       22,000
4             50,000    60,000    112,000        31,000       24,500
..                ...       ...        ...           ...          ...
99            40,000    52,000    110,000        34,000       28,000
100           45,000    55,000    110,000        34,000       28,000
101           45,000    55,000    110,000        34,000       25,000
102           50,000    45,000    110,000        32,000       25,000
103           45,000    35,000    110,000        34,000       25,000

         Ikan KedelaiBijiKering JagungManis JagungPipilanKering
0     28,000             9,500       7,000               7,500
1     30,000             9,000       7,000               7,000
2     30,000             9,000       8,000               7,000
3     30,000             9,000       8,000               7,000
4     33,000            10,000       8,000               6,500
..        ...               ...         ...                 ...
99    28,000            10,500       8,000               9,000
100   30,000             9,000       8,000               9,000
101   30,000             9,000       8,000               9,000
102   30,000             9,000       8,000               9,000
103   30,000             9,000       8,000               9,000

[104 rows x 18 columns]

In [5]:
df = data

In [6]:
import pandas as pd

# Define a dictionary to map month names
month_mapping = {
    'januari': 'January',
    'februari': 'February',
    'maret': 'March',
    'april': 'April',
    'mei': 'May',
    'juni': 'June',
    'juli': 'July',
    'agustus': 'August',
    'september': 'September',
    'oktober': 'October',
    'november': 'November',
    'desember': 'December'
}

# Replace month names in a column using a lambda function with regular expressions
df['Tanggal'] = df['Tanggal'].apply(lambda x: ' '.join([month_mapping.get(word.lower(), word) for word in x.split()]))

In [8]:
import pandas as pd
import matplotlib.pyplot as plt

# Convert 'Tanggal' column to datetime format
df['Tanggal'] = pd.to_datetime(df['Tanggal'], format='%d %B')

In [11]:
df

,Tanggal,BerasPremium,BerasMedium,MinyakGorengCurah,GulaPasir,TeriguSegitigaBiru,BawangMerah,BawangPutih,CabeRawitMerah,CabeMerahKeriting,CabeBesar,DagingSapi,DagingAyamRas,TelurAyamRas,Ikan,KedelaiBijiKering,JagungManis,JagungPipilanKering
0,2020-01-02,"12,000","10,500","10,000","13,000","8,500","35,000","26,000","40,000","35,000",NaN,"111,500","32,000","26,000","28,000","9,500","7,000","7,500"
1,2020-01-06,"10,500","9,500","9,500","11,500","7,500","30,000","26,000","40,000","40,000","40,000","103,000","30,500","25,000","30,000","9,000","7,000","7,000"
2,2020-01-09,"11,000","10,000","9,500","12,000","7,500","27,000","26,000","60,000","45,000","50,000","103,000","32,000","26,000","30,000","9,000","8,000","7,000"
3,2020-01-13,"10,500","9,500","9,500","12,000","7,500","17,500","25,000","60,000","50,000","60,000","103,000","30,000","22,000","30,000","9,000","8,000","7,000"
4,2020-01-16,"11,500","10,500","10,500","13,000","8,000","19,500","27,000","70,000","50,000","60,000","112,000","31,000","24,500","33,000","10,000","8,000","6,500"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,2020-12-18,"11,500","10,500","14,000","13,500","8,000","20,000","20,000","43,000","40,000","52,000","110,000","34,000","28,000","28,000","10,500","8,000","9,000"
100,2020-12-22,"11,500","10,500","13,500","13,000","8,000","15,000","20,000","50,000","45,000","55,000","110,000","34,000","28,000","30,000","9,000","8,000","9,000"
101,2020-12-24,"11,500","10,500","13,500","13,000","8,000","15,000","20,000","50,000","45,000","55,000","110,000","34,000","25,000","30,000","9,000","8,000","9,000"
102,2020-12-28,"11,500","10,500","13,500","13,000","8,000","15,000","20,000","65,000","50,000","45,000","110,000","32,000","25,000","30,000","9,000","8,000","9,000"
103,2020-12-31,"11,500","10,500","13,500","13,000","8,000","15,000","21,000","60,000","45,000","35,000","110,000","34,000","25,000","30,000","9,000","8,000","9,000"

In [10]:
df['Tanggal'] = df['Tanggal'].apply(lambda x: x.replace(year=2020))

In [ ]:
df.to_csv('DataGarut.csv')